// Font Stacks
$main-stack: Arial, sans-serif;

// Main Color
$body-bg: #9ef5ff;

// Text Color
$main-text-color: #333;
$med-blue: #32B3C2;

// Background Color - Zoning Section
$agriculture-green: #66FF00;
$commercial-yellow: #FFCC00;
$downtown-blue: #0099FF;
$industrial-grey: #666;
$parking-purple: #800080;
$public-green: #33CC00;
$residential-red: #FF0000;

// Border Color - Zoning Section
$agriculture-border: #009900;
$commercial-border: #FF9900;
$industrial-border: #333;


$opacity-half: 0.5;
$br: 1px solid;

//Tabs
$selected-tab: white;
$unselected-tab: #B6E7E1;

//Slider
$light-blue: #B0E0E6;


// Tooltip Message
$light-yellow: #FFFFCC;
