// $dashboard-sidebar-bg: rgba(red($body-bg), green($body-bg), blue($body-bg), 0.8);
$dashboard-sidebar-width: 55px;
$dashboard-border-width: 1px;

.dashboard-map-container {
  height: 100%;
  margin-left: $dashboard-sidebar-width + $dashboard-border-width;
}

.dashboard-sidebar {
  background: none;
  border-right: solid $dashboard-border-width $panel-primary-border;
  box-shadow: 5px 0 8px 0 rgba(0,0,0,0.1);
  bottom: 0;
  position: fixed;
  top: 0;
  width: $dashboard-sidebar-width;
  z-index: 1010;

  .img-logo {
    width: 45px;
    height: 50px;
  }

  .vertical-sidebar {
    li {
      border-bottom: solid 1px $panel-primary-border;
      border-top: solid 1px #c8f9ff;
      text-align: center;

      &:first-child {
        border-top: none;
      }

      &.faux-cell {
        padding-top: 12px;
        padding-bottom: 12px;
      }

      button {
        display: block;
        width: 100%;
        outline-offset: -4px;
        color: $panel-primary-border;
        padding-top: 12px;
        padding-bottom: 12px;

        &:hover, &:focus, &.active {
          background-color: darken($body-bg, 10%);
          color: darken($panel-primary-border, 15%);
        }
      }
    }
  }
}

.dashboard-layers {
  position: absolute;
  top: 0;
  bottom: 0;
  left: $dashboard-sidebar-width;
  width: 250px;
  z-index: 1009;
  background: rgba(red($body-bg), green($body-bg), blue($body-bg), 0.8);
  padding: $padding-base-vertical $padding-base-horizontal;
  border-right: solid 1px $panel-primary-border;
  box-shadow: 5px 0 8px 0 rgba(0,0,0,0.1);
}