// Demand & Emissions - Top Section
p {
  @extend %text;
  margin: 0;
  display: inline-block;
}

.fix-pad {
  padding-left: 0;
  padding-right: 2px;
}

.main-text {
  @extend %text;
  font-weight: bold;
}

input {
  @extend %text;
  border: $br #adadad;
  border-radius: 3px;
  margin-left: 15px;
  width: 40px;
  vertical-align: middle;
}

.input-left {
  margin-left: 0;
  margin-right: 80px;
}

.input-right {
  margin-left: 82px;
}

// Sliders
.slider {
  margin-top: 10px;
}

.slider.slider-horizontal {
  width: 250px;
}

 .slider-tick, .slider.slider-horizontal .slider-handle {
  margin-left: 0;
}

.slider-handle {
  border: 2px solid black;
  background-color: $light-blue;
  background-image: none;
  margin-right: -10px;
  width: 8px;
  height: 18px;
}

.slider.slider-horizontal .slider-track {
  height: 6px;
  border-radius: 0;
}

.slider.slider-horizontal .slider-handle {
  margin-top: -6px;
}

.slider.slider-horizontal .slider-selection, .slider-handle.round {
  border-radius: 0;
}


//Slider Info
.range {
  font-size: 10px;
  display: inline;
  padding-top: 5px;
  margin: 0;
}

.ev-charge-left {
  padding-right: 70px;
}

.ev-charge-right {
  padding-left: 72px;
}

.charge {
  padding-left: 100px;
}

.left {
  padding-right: 75px;
}

.right {
  padding-left: 75px;
}

// Play / Pause button
.btn {
  background-color: #e4e4e4;
}

.play-pause-btn {
  padding: 5px 17px;
}

.play-pause {
  display: block;
  width: 12px;
}


// Map Section
.pad-top {
  padding-top: 20px;
}

.pad-map {
  padding-top: 15px;
  padding-left: 0;
}
