.btn {
  @extend %text;
  background-color: white;
  border: .5px solid #A6A6A6;
}

.dropdown-menu {
  min-width: 0;
  margin: 0;
  padding: 0;
}

//Second Dropdown
.select-dropdown {
  @extend %text;
  background-color: white;
  border: .5px solid #A6A6A6;
  height: 25px;
  height: 33px;
  width: 90%;
}
