.title {
  color: $main-text-color;
  display: inline;
  font-family: $main-stack;
  font-size: 28px;
  font-weight: bold;
  padding-left: 15px;
  vertical-align: bottom;
}

.row {
  padding: 10px 0 20px 0;
}
