body {
  background-image: url('/assets/images/smart-cities-bg.jpg');
  background-position: center top;
}

.panel {
  border: 1px solid $outline;
}

.panel-primary {
  background-color:rgba(250,250,250,0.65);
}

#map {
  border: 1px solid $outline;
}
