@mixin color-box-variant($color, $border-style: solid, $border-color: null, $opacity: 0.5) {
  @if not($border-color) {
    $border-color: $color;
  }

  background-color: rgba($color, $opacity);
  border: $border-style 1px $border-color;
}


.map-sidebar {
  > div {
    padding-bottom: 30px;

    &:first-child h4 {
      margin-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    .checkbox:last-child {
      margin-bottom: 0;
    }
  }

  .icon {
    width: 25px;
    margin: 0 5px;
  }

  .color-box {
    display: inline-block;
    height: 17px;
    margin: 0 5px;
    vertical-align: middle;
    width: 17px;

    &.agriculture {
      @include color-box-variant($agriculture-green, solid, $agriculture-border-green);
    }

    &.commercial {
      @include color-box-variant($commercial-yellow, solid, $commercial-border-yellow);
    }

    &.downtown {
      @include color-box-variant($downtown-blue);
    }

    &.industrial {
      @include color-box-variant($industrial-grey, solid, $industrial-border-grey);
    }

    &.parking {
      @include color-box-variant($parking-purple);
    }

    &.public-land {
      @include color-box-variant($public-green);
    }

    &.residential {
      @include color-box-variant($residential-red);
    }

    &.residential-multi {
      @include color-box-variant($residential-red, dotted);
    }
  }
}
