.nav-tabs {
  border-bottom: none;
  margin-right: 40px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  @extend %font-family;
  @extend %blue-border;
  background-color: rgba($selected-tab, 0.65);
  border-bottom: none;
  font-weight: bold;
  padding: 3px 15px;
}

.inactive {
  @extend %font-family;
  background-color: $unselected-tab;
  border-bottom: none;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.nav > li > a, .nav > li > a:hover {
  @extend %font-family;
  @extend %blue-border;
  background-color: $unselected-tab;
  padding: 3px 15px;
}
