.leaflet-popup-content p {
  margin: 0;
}

.leaflet-popup-content-wrapper {
  border: $br $main-text-color;
}

.leaflet-container a.leaflet-popup-close-button {
  margin: 6px 8px 0 0;
}

.leaflet-popup-content {
  margin: 10px;
}

.leaflet-popup-tip {
  background-color: transparent;
  box-shadow: none;
}

.features-title {
  color: $main-text-color;
  font-family: $main-stack;
  font-size: 14px;
  font-weight: bold;
}

.rule {
  border: $br $main-text-color;
  margin: 0;
}

.heading {
  @extend %text;
  color: #999;
  padding-top: 10px;
}

strong {
  padding-right: 10px;
}

.features-description {
  @extend %text;
}

.zone-list {
  @extend %text;
}
