.tooltipstered {
  cursor: help;

  &.fa {
    margin-left: 5px;
    color: $tooltipster-icon-color;
  }
}

.tooltipster-sidetip {
  &.tooltipster-light.tooltip-sc-light {
    .tooltipster-box {
      background: $tooltipster-bg;
      border: solid 1px $tooltipster-border;
      border-radius: 15px;
      box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);
      padding: 13px;

      .tooltipster-content {
        color: $tooltipster-color;
        text-align: center;
      }
    }
  }
}


