h4 {
  border-bottom: solid 2px $font-color-h4;
  color: $font-color-h4;
  font-weight: $font-weight-h4;
  padding-bottom: 5px;
}


.faux-h4 {
  color: $font-color-h4;
  font-weight: $font-weight-h4;
}