<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="#" title="Home">
                    <img src="assets/images/capt-ev_logo.png" />
                    <img class="smart-cities-logo" src="assets/images/smart-cities-logo.png" />
                </a>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <ul class="nav nav-tabs panel-tabs pull-right">
        {{#link-to 'maps.charging-stations' tagName='li' ariaRole='presentation'}}
            {{link-to 'Charging Stations' 'maps.charging-stations'}}
        {{/link-to}}

        {{#link-to 'maps.demand-and-emissions' tagName='li' ariaRole='presentation'}}
            {{link-to 'Demand & Emissions' 'maps.demand-and-emissions'}}
        {{/link-to}}
    </ul>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
</div>
