<div class="row">
    <div class="col-sm-3">
        {{maps-sidebar mapService=mapService}}
    </div>

    <div class="col-sm-9">
        {{leaflet-map height='500px' onMapReady=(action 'mapReady')}}
    </div>
</div>
