<div class="row">
    <div class="col-sm-3">
        {{maps-sidebar mapService=mapService gridDirector=gridDirector}}
    </div>

    <div class="col-sm-9">
        <div class="mb-1 clearfix">
            <div class="pull-right">
                Low Score {{gradient-legend colors=gridDirector.currentColorPalette}} High Score
            </div>
        </div>

        {{leaflet-map height='500px' onMapReady=(action 'mapReady')}}
    </div>
</div>
