<div class="row">
    <div class="col-sm-3">
      <div class="map-features">
        <h4>Map Features</h4>
        <input type="checkbox" />
        <label><img class="icon" src="/assets/images/icon_fastcharge.png" alt="Proposed EV Station Locations">Proposed EV Station Locations</label><br>
        <input type="checkbox" />
        <label><img class="icon" src="/assets/images/ex_fastcharge-icon.png" alt="Existing charging stations">Existing charging stations</label><br>
        <input type="checkbox" />
        <label><img class="icon" src="/assets/images/icon_gas.png" alt="Gas Station Locations">Gas Station Locations</label><br>
        <input type="checkbox" />
        <label><img class="icon" src="/assets/images/icon_bus.png" alt="Bus stops">Bus stops</label><br>
        <input type="checkbox" />
        <label><img class="icon" src="/assets/images/icon_park.png" alt="Parks">Parks</label><br>
        <input type="checkbox" />
        <label><img class="icon" src="/assets/images/icon_school.png" alt="Schools">Schools</label><br>
      </div>

      <div class="zoning">
        <h4>Zoning</h4>
        <input type="checkbox" /><div class="color-box"></div>
        <label>Agriculture</label><br>
        <input type="checkbox" /><div class="color-box"></div>
        <label>Commercial</label><br>
        <input type="checkbox" /><div class="color-box"></div>
        <label>Downtown</label><br>
        <input type="checkbox" /><div class="color-box"></div>
        <label>Industrial</label><br>
        <input type="checkbox" /><div class="color-box"></div>
        <label>Parking</label><br>
        <input type="checkbox" /><div class="color-box"></div>
        <label>Public Land</label><br>
        <input type="checkbox" /><div class="color-box"></div>
        <label>Residential (Single)</label><br>
        <input type="checkbox" /><div class="color-box"></div>
        <label>Residential (Multi)</label><br>
      </div>
    </div>

    <div class="col-sm-9">
        <div id="map">
          {{leaflet-map height='500px' onMapReady=(action 'mapReady')}}
        </div>
    </div>
</div>
