<div class="row">
    <div class="col-xs-3">
    {{maps-sidebar mapService=mapService gridDirector=gridDirector}}
    </div>

    <div class="col-xs-9">
        <div class="row mb-2">
            <div class="col-xs-12">
                {{maps-topbar mapService=mapService gridDirector=gridDirector}}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 mb-1">
                <div class="pull-right">
                    {{gradient-legend colors=gridDirector.currentColorPalette}}
                </div>
            </div>

            <div class="col-xs-12">
                {{leaflet-map height='500px' onMapReady=(action 'mapReady')}}
            </div>
        </div>
    </div>
</div>
