<div class="row">
    <div class="col-sm-3">
        {{maps-sidebar mapService=mapService}}
    </div>

    <div class="col-sm-9 no-pad">
      <div class="col-sm-7 no-pad">
        <h4 class="section-title">Demand & Emissions</h4>
        <hr>

        <div class="col-sm-7 no-pad">
          <div class="col-sm-6 no-pad">
            <p>View information on predicted charging demand or actual emissions data.</p>
          </div>

          <div class="col-sm-6 no-pad">
            <div class="onoffswitch">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
              <label class="onoffswitch-label" for="myonoffswitch">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
      </div>

      <div class="col-sm-5 no-pad">
        <p>Select percentage of EV in fleet</p>
      </div>
    </div>

      <div class="col-sm-5">
        <h4 class="section-title">Set time range</h4>
        <hr>

        <div class="col-sm-5 no-pad">
          <br>
            {{toggle-switch on='Aggregate' off='Sweep' onChange=(action 'aggregateOrSweepToggleChange')}}


          <div class="onoffswitch-third">
            <input type="checkbox" name="onoffswitch-third" class="onoffswitch-checkbox-third" id="myonoffswitch-third" checked>
            <label class="onoffswitch-label-third" for="myonoffswitch-third">
                <span class="onoffswitch-inner-third"></span>
                <span class="onoffswitch-switch-third"></span>
            </label>
          </div>
        </div>

        <div class="col-sm-7 no-pad">
            {{#dropdown-list as |dropdown|}}
                <p>Select day:</p>
                {{dropdown.toggle 'Monday' class='btn btn-secondary'}}

                {{#dropdown.options}}
                    <div class="btn-group-vertical dropdown-toggle" role="group">
                        <button class="btn btn-default" type="button">Tuesday</button>
                        <button class="btn btn-default" type="button">Wednesday</button>
                        <button class="btn btn-default" type="button">Thursday</button>
                        <button class="btn btn-default" type="button">Friday</button>
                        <button class="btn btn-default" type="button">Saturday</button>
                        <button class="btn btn-default" type="button">Sunday</button>
                    </div>
                {{/dropdown.options}}
            {{/dropdown-list}}

            <!-- I like this dropdown - how can I keep this style inside the curlies ?? -->
            <select class="select-dropdown">
              <option class="btn btn-default" value="monday">Monday</option>
              <option class="btn btn-default" value="monday">Tuesday</option>
              <option class="btn btn-default" value="monday">Wednesday</option>
              <option class="btn btn-default" value="monday">Thursday</option>
              <option class="btn btn-default" value="monday">Friday</option>
              <option class="btn btn-default" value="monday">Saturday</option>
              <option class="btn btn-default" value="monday">Sunday</option>
            </select>
        </div>
      </div>
    </div>


    <div class="col-sm-9 no-pad">
      <div class="col-sm-7 no-pad">
        <h4 class="section-title pad-top">Select Vehicle Type</h4>
        <hr>

        <div class="col-sm-7 no-pad">
          <div class="col-sm-6 no-pad">
            <p>Select between EV and IC vehicles.</p>
          </div>

          <div class="col-sm-6 no-pad">
            <div class="onoffswitch-second">
              <input type="checkbox" name="onoffswitch-second" class="onoffswitch-checkbox-second" id="myonoffswitch-second" checked>
              <label class="onoffswitch-label-second" for="myonoffswitch-second">
                  <span class="onoffswitch-inner-second"></span>
                  <span class="onoffswitch-switch-second"></span>
              </label>
            </div>
          </div>
      </div>

      <div class="col-sm-5 no-pad">
        <p>Charge remaining or less</p>
      </div>
    </div>


    </div>

    <div class="col-sm-9 pad-map">
      <div id="map">
        {{leaflet-map height='500px' onMapReady=(action 'mapReady')}}
      </div>
    </div>
</div>
