<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="#" title="Home">
                    <img src="/images/smart-cities-logo.png" />
                </a>
                <p class="title">Electric Vehicles Dashboard</p>
            </div>
        </div>
    </div>
</header>

<div class="container">
    {{outlet}}
</div>
