<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="#" title="Home">
                    <img src="assets/images/smart-cities-logo.png" />
                </a>
                <h1>Electric Vehicles Dashboard</h1>
            </div>
        </div>
    </div>
</header>

<div class="container">
    {{outlet}}
</div>
