<div class="pt-3">
    <p class="text-center pt-3">
        <img src="assets/images/smart-cities-logo.png" />
        <br /><br />
        <span class="fa fa-spinner fa-pulse fa-4x" aria-hidden="true"></span>
    </p>
</div>
